.vlasenko {
	font-size: 25px;
	font-style: italic;
	color: blue;
	}
.ONYSHCHENKO{
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-weight: 700;
 font-style: normal;
 color: rgb(0, 4, 37);
 font-size: larger;
} 
.domin {
	font-size: 21px;

	color: aqua;
}

.voronianskiy{
color : rgb(2, 132, 8); 
 font-family: Arial;
font-size: 18pt;	    
 font-style: italic; 
 font-weight: bold; 
 line-height : 20 pt; 
text-align: justify;  
}
.kravets{
	color : rgb(255, 0, 0); 
 font-family: Arial;
font-size: 18pt;	    
 font-style: italic; 
 font-weight: bold; 
 line-height : 20 pt; 
text-align: justify;  
}
